{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
  <h2>Logowanie poprawne!</h2>
  <a href="{{ url_for('add') }}" class="btn btn-primary">Dodawanie produktów</a>
  <a href="{{ url_for('orders') }}" class="btn btn-primary">Zamówienia</a>
  <a href="{{ url_for('clients') }}" class="btn btn-primary">Klienci</a>
  <a href="{{ url_for('sales_stats') }}" class="btn btn-primary">Statystyki sprzedaży</a>

</div>
{% else %}
<div class="container">
  <h1>Nie jesteś zalogowany!</h1>

  <a href="{{ url_for('login') }}" class="btn btn-primary">Przejdź do logowania</a>

</div>
{% endif %}

{% endblock %}
